pipeline/pl_copy_delete_and_archive_table.json
{
	"name": "pl_copy_delete_and_archive_table",
	"properties": {
		"activities": [
			{
				"name": "Copy IPL teams data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_src_ipl_teams_table",
						"type": "DatasetReference",
						"parameters": {
							"db_server_name": {
								"value": "@pipeline().globalParameters.sql_source_server_name",
								"type": "Expression"
							},
							"db_user_name": {
								"value": "@pipeline().globalParameters.sql_source_server_username",
								"type": "Expression"
							},
							"db_password_secret_key": {
								"value": "@pipeline().globalParameters.sql_source_server_password_secret_key",
								"type": "Expression"
							},
							"db_name": {
								"value": "@pipeline().globalParameters.sql_source_database_name",
								"type": "Expression"
							},
							"key_vault_url": {
								"value": "@pipeline().globalParameters.key_vault_url",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_target_ipl_teams_table",
						"type": "DatasetReference",
						"parameters": {
							"db_server_name": {
								"value": "@pipeline().globalParameters.sql_target_server_name",
								"type": "Expression"
							},
							"db_user_name": {
								"value": "@pipeline().globalParameters.sql_target_server_username",
								"type": "Expression"
							},
							"db_password_secret_key": {
								"value": "@pipeline().globalParameters.sql_target_server_password_secret_key",
								"type": "Expression"
							},
							"db_name": {
								"value": "@pipeline().globalParameters.sql_target_database_name",
								"type": "Expression"
							},
							"key_vault_url": {
								"value": "@pipeline().globalParameters.key_vault_url",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Archive and Delete table",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "DDL statement for archive table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_mssql_server_connection",
					"type": "LinkedServiceReference",
					"parameters": {
						"db_server_name": {
							"value": "@pipeline().globalParameters.sql_source_server_name",
							"type": "Expression"
						},
						"db_user_name": {
							"value": "@pipeline().globalParameters.sql_source_server_username",
							"type": "Expression"
						},
						"db_password_secret_key": {
							"value": "@pipeline().globalParameters.sql_source_server_password_secret_key",
							"type": "Expression"
						},
						"db_name": {
							"value": "@pipeline().globalParameters.sql_source_database_name",
							"type": "Expression"
						},
						"key_vault_url": {
							"value": "@pipeline().globalParameters.key_vault_url",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "@variables('archive_table_ddl_stmt')",
								"type": "Expression"
							}
						},
						{
							"type": "NonQuery",
							"text": {
								"value": "@concat('INSERT INTO ',variables('archive_table_name'),' SELECT * FROM dbo.ipl_teams')",
								"type": "Expression"
							}
						},
						{
							"type": "NonQuery",
							"text": "DROP TABLE dbo.ipl_teams"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "DDL statement for archive table",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Archive Tablename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "archive_table_ddl_stmt",
					"value": {
						"value": "@concat(\n  'CREATE TABLE ',\n  variables('archive_table_name'),\n  ' (\n      id INT PRIMARY KEY,\n      name VARCHAR(100),\n      team VARCHAR(100),\n      score BIGINT,\n      matches_played INT,\n      last_updated DATETIME2\n   );'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Archive Tablename",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy IPL teams data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "archive_table_name",
					"value": {
						"value": "@concat(\n  'dbo.ipl_teams_',\n  formatDateTime(utcNow(),'yyyyMMddHHmmss')\n)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"archive_table_ddl_stmt": {
				"type": "String"
			},
			"archive_table_name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "HandsOn"
		},
		"annotations": []
	}
}