pipeline/pl_exercise_4.json
{
	"name": "pl_exercise_4",
	"properties": {
		"activities": [
			{
				"name": "Wait and Loop Until Status Change",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('wait_for_data_load_status'), false)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Data Load Status",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Wait for 30 seconds",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "select refreshStatus as status from master_load_status_tracker\nwhere tablename = 'salesitems';",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_data_load_status_tracker",
									"type": "DatasetReference",
									"parameters": {
										"db_server_name": {
											"value": "@pipeline().globalParameters.sql_source_server_name",
											"type": "Expression"
										},
										"db_user_name": {
											"value": "@pipeline().globalParameters.sql_source_server_username",
											"type": "Expression"
										},
										"db_password_secret_key": {
											"value": "@pipeline().globalParameters.sql_source_server_password_secret_key",
											"type": "Expression"
										},
										"db_name": {
											"value": "@pipeline().globalParameters.sql_source_database_name",
											"type": "Expression"
										},
										"key_vault_url": {
											"value": "@pipeline().globalParameters.key_vault_url",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Wait for 30 seconds",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 30
							}
						},
						{
							"name": "Check If Data Load Status Changed",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Data Load Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Get Data Load Status').output.firstRow.status, 'Y')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set Status Change",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "wait_for_data_load_status",
											"value": false
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Execute Copy CSV Files",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Wait and Loop Until Status Change",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_exercise_1_copy_multi_csv_files",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"wait_for_data_load_status": {
				"type": "Boolean",
				"defaultValue": true
			}
		},
		"folder": {
			"name": "Exercises"
		},
		"annotations": []
	}
}