pipeline/pl_exercise_2_copy_files_last_5_days.json
{
	"name": "pl_exercise_2_copy_files_last_5_days",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata of Source ADLS Container",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_csv_copy_files",
						"type": "DatasetReference",
						"parameters": {
							"adls_source_url": {
								"value": "@pipeline().globalParameters.adls_source_url",
								"type": "Expression"
							},
							"key_vault_url": {
								"value": "@pipeline().globalParameters.key_vault_url",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Iterate All Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Only Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Only Files').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get Metadata for Each File",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_source_csv_file",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"adls_source_url": {
											"value": "@pipeline().globalParameters.adls_source_url",
											"type": "Expression"
										},
										"key_vault_url": {
											"value": "@pipeline().globalParameters.key_vault_url",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Check for Recent Files",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata for Each File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Get Metadata for Each File').output.lastModified,getPastTime(5, 'Day'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Append filename",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "recent_files",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Copy file",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Append filename",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings",
													"copyBehavior": "PreserveHierarchy"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_source_copy_recent_file",
												"type": "DatasetReference",
												"parameters": {
													"adls_source_url": {
														"value": "@pipeline().globalParameters.adls_source_url",
														"type": "Expression"
													},
													"key_vault_url": {
														"value": "@pipeline().globalParameters.key_vault_url",
														"type": "Expression"
													},
													"FileName": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_target_copy_recent_file",
												"type": "DatasetReference",
												"parameters": {
													"adls_source_url": {
														"value": "@pipeline().globalParameters.adls_source_url",
														"type": "Expression"
													},
													"key_vault_url": {
														"value": "@pipeline().globalParameters.key_vault_url",
														"type": "Expression"
													},
													"FileName": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Check if No Files are copied",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Iterate All Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@less(length(variables('recent_files')),1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute Exercise-1 Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_exercise_1_copy_multi_csv_files",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "Filter Only Files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata of Source ADLS Container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata of Source ADLS Container').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"recent_files": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Exercises"
		},
		"annotations": []
	}
}