pipeline/pl_incremental_data_load.json
{
	"name": "pl_incremental_data_load",
	"properties": {
		"activities": [
			{
				"name": "Iterate Each Table",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.table_list",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get Old Watermark Value",
							"description": "Get old watermark value from dbo.watermarktable table",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT WatermarkValue FROM dbo.watermarktable\nWHERE SchemaName = '@{item().tableSchemaName}' AND \nTableName = '@{item().tableName}';",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_source_mssql_query_data",
									"type": "DatasetReference",
									"parameters": {
										"db_server_name": {
											"value": "@pipeline().globalParameters.sql_source_server_name",
											"type": "Expression"
										},
										"db_user_name": {
											"value": "@pipeline().globalParameters.sql_source_server_username",
											"type": "Expression"
										},
										"db_password_secret_key": {
											"value": "@pipeline().globalParameters.sql_source_server_password_secret_key",
											"type": "Expression"
										},
										"db_name": {
											"value": "@pipeline().globalParameters.sql_source_database_name",
											"type": "Expression"
										},
										"key_vault_url": {
											"value": "@pipeline().globalParameters.key_vault_url",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "Get New Watermark Value",
							"description": "Get new watermark value from table which have to be copied",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT MAX(@{item().Watermark_Column}) AS NewWatermarkValue\nFROM @{item().tableSchemaName}.@{item().tableName};",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_source_mssql_query_data",
									"type": "DatasetReference",
									"parameters": {
										"db_server_name": {
											"value": "@pipeline().globalParameters.sql_source_server_name",
											"type": "Expression"
										},
										"db_user_name": {
											"value": "@pipeline().globalParameters.sql_source_server_username",
											"type": "Expression"
										},
										"db_password_secret_key": {
											"value": "@pipeline().globalParameters.sql_source_server_password_secret_key",
											"type": "Expression"
										},
										"db_name": {
											"value": "@pipeline().globalParameters.sql_source_database_name",
											"type": "Expression"
										},
										"key_vault_url": {
											"value": "@pipeline().globalParameters.key_vault_url",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "Copy data for Each Table",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get Old Watermark Value",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Get New Watermark Value",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM @{item().tableSchemaName}.@{item().tableName}\nWHERE @{item().Watermark_Column} > '@{formatDateTime(activity('Get Old Watermark Value').output.firstRow.WatermarkValue,'yyyy-MM-ddTHH:mm:ss')}' AND @{item().Watermark_Column} <= '@{formatDateTime(activity('Get New Watermark Value').output.firstRow.NewWatermarkValue,'yyyy-MM-ddTHH:mm:ss')}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": false,
										"keys": [
											"id"
										]
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_copy_data",
									"type": "DatasetReference",
									"parameters": {
										"db_server_name": {
											"value": "@pipeline().globalParameters.sql_source_server_name",
											"type": "Expression"
										},
										"db_user_name": {
											"value": "@pipeline().globalParameters.sql_source_server_username",
											"type": "Expression"
										},
										"db_password_secret_key": {
											"value": "@pipeline().globalParameters.sql_source_server_password_secret_key",
											"type": "Expression"
										},
										"db_name": {
											"value": "@pipeline().globalParameters.sql_source_database_name",
											"type": "Expression"
										},
										"key_vault_url": {
											"value": "@pipeline().globalParameters.key_vault_url",
											"type": "Expression"
										},
										"schema_name": {
											"value": "@item().tableSchemaName",
											"type": "Expression"
										},
										"table_name": {
											"value": "@item().tableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_copy_data",
									"type": "DatasetReference",
									"parameters": {
										"db_server_name": {
											"value": "@pipeline().globalParameters.sql_target_server_name",
											"type": "Expression"
										},
										"db_user_name": {
											"value": "@pipeline().globalParameters.sql_target_server_username",
											"type": "Expression"
										},
										"db_password_secret_key": {
											"value": "@pipeline().globalParameters.sql_target_server_password_secret_key",
											"type": "Expression"
										},
										"db_name": {
											"value": "@pipeline().globalParameters.sql_target_database_name",
											"type": "Expression"
										},
										"key_vault_url": {
											"value": "@pipeline().globalParameters.key_vault_url",
											"type": "Expression"
										},
										"schema_name": {
											"value": "@item().tableSchemaName",
											"type": "Expression"
										},
										"table_name": {
											"value": "@item().tableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update Old watermark table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data for Each Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "dbo.usp_write_watermark",
								"storedProcedureParameters": {
									"last_updated": {
										"value": {
											"value": "@activity('Get New Watermark Value').output.firstRow.NewWatermarkValue",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"SchemaName": {
										"value": {
											"value": "@item().tableSchemaName",
											"type": "Expression"
										},
										"type": "String"
									},
									"tableName": {
										"value": {
											"value": "@item().tableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_mssql_server_connection",
								"type": "LinkedServiceReference",
								"parameters": {
									"db_server_name": {
										"value": "@pipeline().globalParameters.sql_source_server_name",
										"type": "Expression"
									},
									"db_user_name": {
										"value": "@pipeline().globalParameters.sql_source_server_username",
										"type": "Expression"
									},
									"db_password_secret_key": {
										"value": "@pipeline().globalParameters.sql_source_server_password_secret_key",
										"type": "Expression"
									},
									"db_name": {
										"value": "@pipeline().globalParameters.sql_source_database_name",
										"type": "Expression"
									},
									"key_vault_url": {
										"value": "@pipeline().globalParameters.key_vault_url",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"table_list": {
				"type": "array",
				"defaultValue": [
					{
						"tableName": "iplteams",
						"tableSchemaName": "dbo",
						"Watermark_Column": "last_updated"
					},
					{
						"tableName": "employees",
						"tableSchemaName": "dbo",
						"Watermark_Column": "last_updated"
					},
					{
						"tableName": "salesitems",
						"tableSchemaName": "dbo",
						"Watermark_Column": "last_updated"
					}
				]
			}
		},
		"folder": {
			"name": "Load_Types"
		},
		"annotations": []
	}
}