pipeline/pl_web_api_output_file.json
{
	"name": "pl_web_api_output_file",
	"properties": {
		"activities": [
			{
				"name": "Invoke Public API",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://jsonplaceholder.typicode.com/users"
				}
			},
			{
				"name": "Set Response",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Invoke Public API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "api_response",
					"value": {
						"value": "@activity('Invoke Public API').output.Response",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy API response to ADLS container",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Response",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_users_api_data",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_users_api_json_data",
						"type": "DatasetReference",
						"parameters": {
							"adls_source_url": {
								"value": "@pipeline().globalParameters.adls_source_url",
								"type": "Expression"
							},
							"key_vault_url": {
								"value": "@pipeline().globalParameters.key_vault_url",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"api_response": {
				"type": "String"
			}
		},
		"folder": {
			"name": "HandsOn"
		},
		"annotations": []
	}
}